__pycache__
src/data
src/missing_words.txt
src/results/checkpoint*
src/tmp_trainer
src/models/distilbert_finetuned
src/results/word_frequencies.csv
src/models/model_*
src/results/model_*

## LaTeX to ignore ##
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz(busy)
*.synctex(busy).gz

